<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="fb:app_id" content="135815910405114" />
    <meta property="og:title" content="Earth Wallpaper a Day: {{date}}" />
    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="https://www.facebook.com/EarthWallpaperADay/" />
    <meta property="article:author" content="https://www.facebook.com/davsoft" />
    <meta property="og:description" content="{{caption}}" />
    <meta property="og:site_name" content="Earth Wallpaper a Day" />
    <meta property="og:image" content="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-800x600.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="http://wallpapers.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}.html" />

    <title>Earth Wallpaper a Day</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <style>

        #wallpaper-browse {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #dataframe {
            margin-top: 1em;
            margin-left: 1em;
            margin-right: 1em;
        }

        #about {
            margin-top: 1em;
        }

    </style>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-108968158-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

</head>
<body>

<h1 class="text-center"><a href="/">Earth Wallpaper a Day</a></h1>

<div id="date" class="text-center">{{helper_date date "dddd Do MMMM YYYY"}}</div>

<div class="mx-auto">
    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}.jpg">
        <img id="wallpaper-browse" src="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-800x600.jpg" alt="{{location}}">
    </a>
</div>


<div class="container-fluid d-flex justify-content-between">
    <div>
        <a href="{{previousurl}}">Previous</a>
    </div>
    <div>
        <a href="archive.html">Archive</a><br />
        <a href="{{helper_date date "YYYYMMDD"}}.html">Today</a><br />
    </div>
    <div>
        {{nextlink}}
    </div>
</div>

<div id="dataframe" class="row">

    <div id="info" class="col-md-6 col-xs-12">
        <table width="100%">
            <tr>
                <th>
                    Location:
                </th>
                <td>
                    <a href="{{locationurl}}">
                        {{location}}
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    Acquisition Date:
                </th>
                <td>
                    {{acquisitiondate}}
                </td>
            </tr>
            <tr>
                <th>
                    Mission:
                </th>
                <td>
                   {{missionlink}}
                </a>
                </td>
            </tr>
            <tr>
                <th>
                    Photographer:
                </th>
                <td>
                    <a href="{{photographerurl}}">{{photographer}}</a>
                </td>
            </tr>
            <tr>
                <th>
                    Description:
                </th>
                <td>
                    {{description}}
                </td>
            </tr>
            <tr>
                <th>
                    Tags:
                </th>
                <td>
                   {{tags}}
                </td>
            </tr>
        </table>
    </div>

    <div id="options" class="col-md-6 col-xs-12">
        <table width="100%">
            <thead>
            <tr>
                <th>
                    Resolution
                </th>
                <th>
                    Versions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Original Size
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    Full HD (1920 x 1080)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1920x1080-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1920x1080.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    Wide UXGA (1920 x 1200)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1920x1200-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1920x1200.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    UXGA (1600 x 1200)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1600x1200-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1600x1200.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    SXGA (1280 x 1024)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1280x1024-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1280x1024.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    Apple Macbook Pro 13.3" (2560 x 1600)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2560x1600-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2560x1600.jpg">No Caption</td>
                </td>
            </tr>
            <tr>
                <td>
                    Apple Macbook Pro 15" (2880 x 1800)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2880x1800-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2880x1800.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    Microsoft Surface 3 (1920 x 1280)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1920x1280-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-1920x1280.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    Microsoft Surface Pro 3 (2160 x 1440)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2160x1440-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2160x1440.jpg">No Caption</a>
                </td>
            </tr>
            <tr>
                <td>
                    Microsoft Surface Pro 4 (2736 x 1824)
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2736x1824-caption.jpg">With Caption</a>
                </td>
                <td>
                    <a href="http://wallpapers-cdn.davidfindlay.com.au/{{helper_date date "YYYYMMDD"}}-2736x1824-caption.jpg">No Caption</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

<div id="about" class="container-fluid">
    <h2>About this site</h2>

    <p>
        Beautiful pictures of the earth from space, every day. I select my favourite pictures from the
        <a href="https://www.nasa.gov/mission_pages/station/main/index.html">International Space Station</a>
        or <a href="https://eospso.nasa.gov/">NASA Earth Observing Satellites</a>. The source images are in the
        <a href="https://www.nasa.gov/multimedia/guidelines/index.html">public domain</a>, but my edits are licensed
        under
        <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
            International</a>.
    </p>

    <p>
        My name is <a href="http://www.davidfindlay.com.au">David Findlay</a>. You can support my work by
        <a href="/donating.html">donating</a> or
        <a href="https://www.patreon.com/earthwallpaperaday">supporting me on Patreon</a>.
    </p>

    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

</div>
</body>
</html>